export(CreateSCRAMObject)
export(annotateItems)
export(runGeneLevelSCRAM)
export(runCellTypeLevelSCRAM)
export(runCellLineageLevelSCRAM)
export(runCellClassLevelSCRAMSimple)
export(runDirksCellClassLevelSCRAM)
export(runSuvaCellClassLevelSCRAM)
export(annotateHighRibosomalCells)
export(runSCRAM)
export(plotUMAPDirksCellClass)
export(plotUMAPSuvaCellClass)
export(plotUMAPCellClassSimple)
export(plotUMAPCellLineage)
export(plotUMAPCellTypePerCluster)
export(plotPercAnnotatedCells)
export(writeSCRAMresults)
export(createHumanMouseMarkerList)
export(readCASPER)
import(foreach)
import(Seurat)
import(dplyr)
import(arules)